body {
  font-family: 'Arial', serif;
  color: #464646;
  line-height: 1.4em;
  letter-spacing: .05em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', serif;
  text-transform: uppercase;
  letter-spacing: 0;
}

ul {
  padding-left: 1.4em;
  list-style-type: square;
}
li {
  margin-top:1em;
  font-family: 'Oswald', serif;
  text-transform: uppercase;
  font-size: 1.2em;
}

.lead {
  margin-top:1em;
  font-family: 'Georgia', sans-serif;
  text-transform: uppercase;
  color:#F66;
  margin-bottom:1.5em;
}

@media (min-width: 900px) {
  .container {
    max-width: 870px;
  }
}

.footer li {
  font-size:.8em;
}

.red {
  color:#F66;
}
