* {
    font-family: 'Times', serif;
    font-size: 1.8rem;
}
body {
    font-family: font-family: 'Times', serif;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
.center {
    text-align: center;
}
a {
    color: #27ae60;
}
a:hover {
    color: #FF7700;
}
.nv {
    background-color: #FF7700;
}
.nv li a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.nv li:hover {
    background-color: #FF5500;
    cursor: pointer;
}
.nv li.active {
    background-color: #333;
}
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.logo h1 {
    margin: 0;
    padding: 0;
    margin-top:2rem;
    margin-left: 13px;
    color: #FF7700;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: -3px;
}
.logo h1 span {
    color: #27ae60;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-family: 'Oswald', sans-serif;
}
.logo h1 small {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0;
    text-transform: lowercase;
    font-weight: normal;
}
.logom a {
  text-decoration: none;
}
.logom a:click{
  text-decoration: none;
}
.logom h1 {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: #FF7700;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: -3px;
}
.logom h1 span {
    color: #27ae60;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-family: 'Oswald', sans-serif;
}
.logom h1 small {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0;
    text-transform: lowercase;
    font-weight: normal;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.comment li {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    clear: both;
    min-height: 100px;
}
.comment li img {
    min-width: 80px;
    min-height: 80px;
    float: left;
    padding-right: 15px;
}
.comment li h5 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    padding-left: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}
.comment li p {
    font-size: 1em;
}
